extends ../shared/template

block content
  h1 Artist List

  #form
    form(METHOD='POST', action='/artists', enctype='multipart/form-data')
      input(type='text', name='name', placeholder='Artist Name', autofocus=true)
      input(type='file', name='photo')
      button Add Album

  #artists
    each artist in artists
      .artist
        a(href='/artists/#{artist._id}') #{artist.name}
        img(src='/img/artists/#{artist.photo}', class='photo')
