extends ../shared/template

block content
  h1 Album List

  #form
    h2 Add An Album
    form(METHOD='POST', action='/albums', enctype='multipart/form-data')
      input(type='text', name='name', placeholder='Album Name', autofocus=true)
      input(type='file', name='cover')
      button Add Album

  table#albums
    tbody
      each album in albums
        tr.album
          td
            a(href='/albums/#{album._id}') #{album.name}
          td
            img(src='/img/albums/#{album.cover}', class='photo')
